.laptopMobile{
    display: none;
}


.section4{
 
    border: 4px solid yellow;
    position: relative;
    overflow: hidden;
    min-height: 800px;
    margin: auto;
    margin-top: 116px;
       
       
    p{
        @include textParagraphe(#4C5862);
        text-align: left
    }

    h3{
        @include textH3(#1F3E5A);
        text-align: left;
    }
   
}

.containerSection4{
    padding-top: 150px;
    border: 4px solid turquoise;
    @include flexCenter(row);
    gap: 125px;


    // flex-wrap: wrap-reverse;
    justify-content: space-around;

    .articles{
        margin-right: 9.76vw;
        @include flexCenter(column);
        align-items: flex-end;
    }

    .article1, .article2{
        width:min(560px, 100%);
        padding: 20px;
    }

    .article1{
        margin-bottom: 64px;
    }

}

.laptopDeskstop{
    position: absolute;
    left: -200px;
}






///////////////////// MEDIA QUERIES/////////////////////
/////////////////////////// 1330PX///////////////////////////
@media (max-width: 1385px){
   .laptopDeskstop{
        position: absolute;
        left: -400px;
    }
}

/////////////////////////// 1160PX///////////////////////////
@media (max-width: 1160px){
    .section4{
        margin-top: 79px;
        border:4px solid yellow;
        position: static;
        overflow: visible;
        margin-bottom: 300px;
        min-height: auto;

        .articles{
            margin-right: 0vw;
            @include flexCenter(column);
            align-items: center;
        }

        h2{
            margin-top: 100px;
            margin-bottom: 38px;
        }       
    
        h3, p{
            text-align: center;
        }   
    }
    .containerSection4{
        padding-top: 0px;
        position: static;
        @include flexCenter(column);
        justify-content: center;
        overflow:visible;
        gap: 0px;
    }

    .laptopMobile{
            display: block;
            margin-bottom: 46px;
    }

    .containerSection4 .editorMobile{
        position: static;
        right: 0;
    }

    .laptopDeskstop{
        display: none;
    }
 
}