.section2{
    position: relative;
    overflow: hidden;
    min-height: 1100px;
       
    h2{
        @include textH2(#1F3E5A);
    }
       
    p{
        @include textParagraphe(#4C5862);
        text-align: left
    }

    h3{
        @include textH3(#1F3E5A);
        text-align: left;
    }
   
}

.containerSection2{
    margin-top: 120px;
    @include flexCenter(row);
    flex-wrap: wrap-reverse;
    justify-content: space-between;

    .articles{
        margin-left: 9.76vw;
        @include flexCenter(column);
        align-items: flex-start;
    }

    .article1, .article2{
        width:min(560px, 100%);
        padding: 20px;
    }

    .article1{
        margin-bottom: 64px;
    }

}

.containerSection2 .editorDeskstop{
    position: absolute;
    right: -250px;
}

.editorMobile{
    display: none;
}




///////////////////// MEDIA QUERIES/////////////////////
/////////////////////////// 1330PX///////////////////////////
@media (max-width: 1330px){
    .containerSection2 .editorDeskstop{
        position: absolute;
        right: -400px;
    }
}

/////////////////////////// 1160PX///////////////////////////
@media (max-width: 1160px){
    .section2{
        position: static;
        overflow: visible;
        margin-bottom: 200px;

        .articles{
            margin-left: 0vw;
            @include flexCenter(column);
            align-items: center;
        }

        h2{
            margin-top: 100px;
            margin-bottom: 0px;
        }       
    
        h3, p{
            text-align: center;
        }   
    }
    .containerSection2{
        position: static;
        @include flexCenter(column);
        justify-content: center;
        overflow:visible;
    }

    .editorMobile{
            display: block;
            margin-bottom: 46px;
    }

    .containerSection2 .editorMobile{
        position: static;
        right: 0;
    }

    .editorDeskstop{
        display: none;
    }
 
}

@media(max-width: 600px){
    .section2{
    
        margin-bottom: 250px;
    }
}