.section1{
  background: url("/styles/bg-pattern-circles-big.svg") no-repeat center/cover,  linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%),;
  border-radius: 0px 0px 0px 100px;
  min-height: 600px;
}

button {
  // display: inline-block;
  @include primaryButton($backgroundButton:white, $colorNav:#ff505c);
  &:hover {
  @include primaryButton($backgroundButton:#ff505c, $colorNav:white);
}
}

.buttonSecondary{
  margin-left: 16px;
  @include primaryButton($backgroundButton:#ff505c, $colorNav:white);
  &:hover {
  @include primaryButton($backgroundButton:white, $colorNav:#ff505c);
}
}

////////////////////// HEADING ////////////////////
header{
  padding-top: 63px;
  padding-left: 9.76vw;
  padding-right: 9.76vw;
  @include flexCenter(row);
  justify-content: space-between;

  img{
    margin-right: 34px;
  }
}

nav{
  // margin-left: 32px;
  width: 100%;
  @include flexCenter(row);
  justify-content: space-between;

  p {
  text-decoration: none;
  @include textNav(white);
  }
}

.dropdown{
  @include flexCenter(row);
  
}

.dropdown div{
  margin-left: 32px;
}

li{
  list-style: none;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 33px;
  color: #2D2E40;
  &:hover{
      font-weight: bold;
  }   
}


.login{
  @include flexCenter(row);
  gap:32px;    
}

.connect{
  position: relative;
}


.connect {
  ul{
  position: absolute;
  width: 168px;
  height: 147px;
  margin-top: 27px;
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: translateY(10px);
  transition: all 0.4s ease;}

 span{
      transform: rotate(180deg);
  }
}

.dropdown button{
  @include primaryButton($backgroundButton:transparent, $colorNav: white);
  cursor: pointer;
  &:hover{
     text-decoration: underline;
  }
}



.connect button:focus + ul {



  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.connect button:focus + span{
  transform: rotate(180deg);
  transition: 0.4s;
}




////////////////////// ACCEUIL ////////////////////

.accueil{
  @include flexCenter(column);
  padding-top: 100px;
}

:is(h1, .underTitle){
  font-family: "Overpass";
  color: white;
  text-align: center;
}

h1{
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -1.92px;
}

.underline{
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
}

.accueilButton{
  margin-top: 48px;

}



//////////////////////////////////////////// MEDIA QUERIES//////////////////////////////////////////

@media(max-width: 900px){

  .dropdown{
      @include flexCenter(column);
      
  }
  
  .dropdown div{
      margin-left: 0px;
  }
  
  li{
      @include flexCenter(column);
      width: 100%;
      height: 100%;
      list-style: none;
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 33px;
      color: #2D2E40;
      &:hover{
          font-weight: bold;
      }   
  }
  
  
  .login{
      @include flexCenter(row);
      gap:32px;    
  }
  
  .connect{
      position: relative;
  }
  
  
  .connect {
      ul{
      position: absolute;
      width: 100%;
      height: 150px;
      margin-top: 24px;

      
      background: #979797;
      mix-blend-mode: normal;
      opacity: 0.08;
      border-radius: 5px;



      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: translateY(10px);
      transition: all 0.4s ease;}
  
     span{
          transform: rotate(180deg);
      }
  }
  
  .dropdown button{
      @include primaryButton($backgroundButton:transparent, $colorNav: #1F3E5A);
      cursor: pointer;
      &:hover{
         text-decoration: underline;
      }
  }
  
  
  
  .connect button:focus + ul {
  
   
  
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
  }
  
  .connect button:focus + span{
      transform: rotate(180deg);
      transition: 0.4s;
  }
  
  
  


























  .login::before{
      content: '';
      width: 276px;
      
      border: 1px solid #E8E4E4;
  }

   .signUp{
      // display: inline-block;
      @include primaryButton($backgroundButton:#ff505c, $colorNav: white);
      &:hover {
      @include primaryButton($backgroundButton:white, $colorNav:#ff505c);
  }
  }
  
  nav{
      margin-left: 32px;
      width: 100%;
      border: 4px solid yellow;
      @include flexCenter(column);
      justify-content: center;
  
      .menuPrincipal{
          @include flexCenter (column);
          gap:24px
              
       }
      a{
          margin-left:0px;
         
       
      }
  
      a, p{
      text-decoration: none;
      @include textNav(#1F3E5A);
      font-size: 18px;
      font-family: 'Overpass';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
text-align: center;
      }
  }
  
  .icone{
   stroke: #ff505c;
  }

  
  .login{
      margin-top: 49px;
      @include flexCenter(column);
      gap:24px;
  
  }
  
  
  ////////////////////// ACCEUIL ////////////////////
  
  .accueil{
      @include flexCenter(column);
      padding-top: 200px;
  }
  

  
















  .burger{
      display: block;
      cursor: pointer;
  }

  header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
  }

  .burger span{
      width: 32px;
      height: 2px;
      background: white;
      margin: 6px 0;
      display: block;  /* span sont des elements de types inline, display block permet de les faire prendre toutes la largeur et de commencer a la ligne */
  }

  .burger, 
  .iconeSite{
      padding: 10px;
      z-index: 1;  /* pour que le logo et le burger passe devant */
  }

  nav{
      margin-left: 0px;
      position: fixed;
      top: 0;
      left: 0px;
      height: 100%;
      width: 100%;
      background: white;
      display: flex;
      flex-direction: column;
      justify-content: center !important;
      transform: translateX(100%);  /* translateX je deplace de 100% de sa taille vers la droite  -- -100% ca irait vers la gauche  - si on met Y ca change l'axe vers le haut ou le bas*/
      transition: .5s;
      margin-right: 50px;


  }

  .menu-open{
      transform: translateX(0); /* quand je clique mon menu revient en position normal */
  }

}