.section1 {
  background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  border-radius: 0px 0px 0px 100px;
  height: 600px;
  position: relative;
  overflow: hidden;
}

header {
  margin-left: 9.76vw;
  margin-right: 9.76vw;
  border: 4px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: white;
}
header nav {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header nav a {
  text-decoration: none;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: white;
}
header nav img {
  margin-right: 64px;
}
header .lien3 ul {
  display: none;
}
header .signIn {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 32px;
}
header button {
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: white;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: #ff505c;
}
header button:hover {
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: #ff505c;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.accueil {
  z-index: 10;
  margin-top: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.accueil h1 {
  z-index: 5;
  font-family: "Overpass";
  font-weight: 600;
  font-size: 64px;
  text-align: center;
  letter-spacing: -1.92px;
  color: #ffffff;
}
.accueil .underTitle {
  z-index: 5;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
}
.accueil .AccueilButton {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
  margin-top: 48px;
  border: 4px solid blue;
}
.accueil .AccueilButton button {
  display: inline-block;
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: white;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: #ff505c;
}
.accueil .AccueilButton button:hover {
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: #ff505c;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: white;
}
.accueil .AccueilButton .buttonSecondary {
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: transparent;
  border: 1px solid white;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: white;
}
.accueil .AccueilButton .buttonSecondary:hover {
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: white;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: #ff505c;
}
.accueil .cercle {
  width: 170%;
  z-index: 1;
  top: -1200px;
  right: -800px;
  position: absolute;
}

.section2 {
  position: relative;
  overflow: hidden;
  height: 975px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #4C5862;
}
.section2 h2 {
  font-family: "Overpass";
  margin-top: 150px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: -1.2px;
  color: #1F3E5A;
}
.section2 h3 {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #1F3E5A;
  margin-bottom: 30px;
}

.containerSection2 {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}
.containerSection2 .articles {
  margin-left: 9.76vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.containerSection2 .article1, .containerSection2 .article2 {
  width: 560px;
}
.containerSection2 .article1 {
  margin-bottom: 64px;
}

.containerSection2 .editorDeskstop {
  position: absolute;
  right: -250px;
}

.editorMobile {
  display: none;
}

@media (max-width: 1330px) {
  .containerSection2 .editorDeskstop {
    position: absolute;
    right: -400px;
  }
}
@media (max-width: 1160px) {
  .containerSection2 {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .editorMobile {
    display: block;
  }

  .containerSection2 .editorMobile {
    position: static;
    right: 0;
  }

  .editorDeskstop {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  /* Max width 100% mais si elle n'a plus la place, elle va se reduire */
}/*# sourceMappingURL=style.css.map */