.section1 {
  background: url("/styles/bg-pattern-circles-big.svg") no-repeat center/cover, linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
  border-radius: 0px 0px 0px 100px;
  min-height: 600px;
}

button {
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: white;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: #ff505c;
  outline: none;
}
button:hover {
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: #ff505c;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: white;
  outline: none;
}

.buttonSecondary {
  margin-left: 16px;
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: #ff505c;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: white;
  outline: none;
}
.buttonSecondary:hover {
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: white;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: #ff505c;
  outline: none;
}

header {
  padding-top: 63px;
  padding-left: 9.76vw;
  padding-right: 9.76vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header img {
  margin-right: 34px;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav p {
  text-decoration: none;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dropdown div {
  margin-left: 32px;
}

li {
  list-style: none;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 33px;
  color: #2D2E40;
}
li:hover {
  font-weight: bold;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 32px;
}

.connect {
  position: relative;
}

.connect ul {
  position: absolute;
  width: 168px;
  height: 147px;
  margin-top: 27px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: translateY(10px);
  transition: translateY(10px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.connect span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown button {
  cursor: pointer;
  border: none;
  width: 137px;
  height: 48px;
  border-radius: 28px;
  background: transparent;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 16px;
  color: white;
  outline: none;
  cursor: pointer;
}
.dropdown button:hover {
  text-decoration: underline;
}

.connect button:focus + ul {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.connect button:focus + span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

:is(h1, .underTitle) {
  font-family: "Overpass";
  color: white;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 64px;
  letter-spacing: -1.92px;
}

.underline {
  font-weight: 300;
  font-size: 20px;
  line-height: 31px;
}

.accueilButton {
  margin-top: 48px;
}

@media (max-width: 900px) {
  .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .dropdown div {
    margin-left: 0px;
  }

  li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    list-style: none;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 33px;
    color: #2D2E40;
  }
  li:hover {
    font-weight: bold;
  }

  .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
  }

  .connect {
    position: relative;
  }

  .connect ul {
    position: absolute;
    width: 100%;
    height: 150px;
    margin-top: 24px;
    background: #979797;
    mix-blend-mode: normal;
    opacity: 0.08;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: translateY(10px);
    transition: translateY(10px);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .connect span {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .dropdown button {
    cursor: pointer;
    border: none;
    width: 137px;
    height: 48px;
    border-radius: 28px;
    background: transparent;
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 16px;
    color: #1F3E5A;
    outline: none;
    cursor: pointer;
  }
  .dropdown button:hover {
    text-decoration: underline;
  }

  .connect button:focus + ul {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .connect button:focus + span {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .login::before {
    content: "";
    width: 276px;
    border: 1px solid #E8E4E4;
  }

  .signUp {
    cursor: pointer;
    border: none;
    width: 137px;
    height: 48px;
    border-radius: 28px;
    background: #ff505c;
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 16px;
    color: white;
    outline: none;
  }
  .signUp:hover {
    cursor: pointer;
    border: none;
    width: 137px;
    height: 48px;
    border-radius: 28px;
    background: white;
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 16px;
    color: #ff505c;
    outline: none;
  }

  nav {
    margin-left: 32px;
    width: 100%;
    border: 4px solid yellow;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
  }
  nav .menuPrincipal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  nav a {
    margin-left: 0px;
  }
  nav a, nav p {
    text-decoration: none;
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 16px;
    color: #1F3E5A;
    font-size: 18px;
    font-family: "Overpass";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }

  .icone {
    stroke: #ff505c;
  }

  .login {
    margin-top: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }

  .accueil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 200px;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .burger span {
    width: 32px;
    height: 2px;
    background: white;
    margin: 6px 0;
    display: block;
    /* span sont des elements de types inline, display block permet de les faire prendre toutes la largeur et de commencer a la ligne */
  }

  .burger,
.iconeSite {
    padding: 10px;
    z-index: 1;
    /* pour que le logo et le burger passe devant */
  }

  nav {
    margin-left: 0px;
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /* translateX je deplace de 100% de sa taille vers la droite  -- -100% ca irait vers la gauche  - si on met Y ca change l'axe vers le haut ou le bas*/
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-right: 50px;
  }

  .menu-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /* quand je clique mon menu revient en position normal */
  }
}
.section2 {
  position: relative;
  overflow: hidden;
  min-height: 1100px;
}
.section2 h2 {
  font-family: "Overpass";
  margin-top: 150px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: -1.2px;
  color: #1F3E5A;
}
.section2 p {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #4C5862;
  text-align: left;
}
.section2 h3 {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #1F3E5A;
  margin-bottom: 30px;
  text-align: left;
}

.containerSection2 {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.containerSection2 .articles {
  margin-left: 9.76vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.containerSection2 .article1, .containerSection2 .article2 {
  width: min(560px, 100%);
  padding: 20px;
}
.containerSection2 .article1 {
  margin-bottom: 64px;
}

.containerSection2 .editorDeskstop {
  position: absolute;
  right: -250px;
}

.editorMobile {
  display: none;
}

@media (max-width: 1330px) {
  .containerSection2 .editorDeskstop {
    position: absolute;
    right: -400px;
  }
}
@media (max-width: 1160px) {
  .section2 {
    position: static;
    overflow: visible;
    margin-bottom: 200px;
  }
  .section2 .articles {
    margin-left: 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
  }
  .section2 h2 {
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .section2 h3, .section2 p {
    text-align: center;
  }

  .containerSection2 {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    overflow: visible;
  }

  .editorMobile {
    display: block;
    margin-bottom: 46px;
  }

  .containerSection2 .editorMobile {
    position: static;
    right: 0;
  }

  .editorDeskstop {
    display: none;
  }
}
@media (max-width: 600px) {
  .section2 {
    margin-bottom: 250px;
  }
}
.section3 {
  background: url("/styles/bg-pattern-circles.svg") no-repeat, linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
  border-radius: 0px 100px;
  height: 400px;
  position: relative;
}

.containerS3 {
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 98px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  align-items: center;
  position: absolute;
  top: -80px;
}
.containerS3 article {
  width: max(540px, 100%);
  margin-right: 12vw;
}
.containerS3 article h2 {
  font-family: "Overpass";
  margin-top: 150px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: -1.2px;
  color: white;
  margin-top: 0px;
  text-align: left;
}
.containerS3 article p {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: white;
}

@media (max-width: 975px) {
  .section3 {
    height: 625px;
  }
  .section3 .containerS3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -200px;
    gap: 47px;
  }
  .section3 article {
    margin-right: 0vw;
    width: 100%;
  }
  .section3 article h2 {
    text-align: center;
  }
  .section3 article p {
    text-align: center;
  }
}
.laptopMobile {
  display: none;
}

.section4 {
  position: relative;
  overflow: hidden;
  min-height: 820px;
  margin: auto;
  margin-top: 116px;
}
.section4 p {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #4C5862;
  text-align: left;
}
.section4 h3 {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  color: #1F3E5A;
  margin-bottom: 30px;
  text-align: left;
}

.containerSection4 {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 125px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.containerSection4 .articles {
  margin-right: 9.76vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.containerSection4 .article1, .containerSection4 .article2 {
  width: min(560px, 100%);
  padding: 20px;
}
.containerSection4 .article1 {
  margin-bottom: 64px;
}

.laptopDeskstop {
  position: absolute;
  left: -200px;
}

@media (max-width: 1385px) {
  .laptopDeskstop {
    position: absolute;
    left: -400px;
  }
}
@media (max-width: 1160px) {
  .section4 {
    margin-top: 79px;
    position: static;
    overflow: visible;
    height: auto;
  }
  .section4 .articles {
    margin-right: 0vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
  }
  .section4 h2 {
    margin-top: 100px;
    margin-bottom: 38px;
  }
  .section4 h3, .section4 p {
    text-align: center;
  }

  .containerSection4 {
    padding-top: 0px;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    overflow: visible;
    gap: 0px;
  }

  .laptopMobile {
    display: block;
    margin-bottom: 46px;
  }

  .containerSection4 .editorMobile {
    position: static;
    right: 0;
  }

  .laptopDeskstop {
    display: none;
  }
}
footer {
  margin-top: 123px;
  min-height: 359px;
  background: #24242C;
  border-radius: 0px 100px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 70px;
}
footer ul {
  list-style: none;
  cursor: pointer;
}
footer li {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 33px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}
footer li:hover {
  text-decoration: underline;
}
footer .navWord {
  opacity: 1;
  margin-bottom: 20px;
}

@media (max-width: 580px) {
  footer {
    height: auto;
    background: #24242C;
    border-radius: 0px 100px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }
  footer img {
    margin-bottom: 72px;
  }
  footer ul {
    margin-bottom: 40px;
  }
  footer li {
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  /* Max width 100% mais si elle n'a plus la place, elle va se reduire */
}/*# sourceMappingURL=style.css.map */